@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-gallery-slide img{
  height: calc(350px + 4vh);
  object-fit: cover;
}
 /* maroon - #820016 */
